{% extends 'base.html' %}
{% block title %}
个人信息
{% endblock %}
{% block main %}
<div class="me_box clearfix">

    <div class="me_box1">
        <div class="me_box_title">
            <img src="/static/img/self_touxiang.jpg">
            <h3>天悦</h3>
        </div>
        <div class="me_box_text">
            <h3 class="me_box_title_title">自我介绍</h3>
            <div class="me_box_text_div">
                <p>职业：php程序员，web前端工程师</p>
                <p>年龄：80后</p>
                <p>爱好：制作网站，砍传奇</p>
                <p>个人介绍一下啦：一个话很少的80后，因为喜欢电脑所以进入这个行业，实在不知道说点啥，目前就这么多吧。</p>
            </div>
        </div>
    </div>


</div>


{% endblock %}
























