{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block main %}
<div class="article_box_one">
    <div class="index_article_title clearfix">
        <h3>最新内容</h3>
        <a href="{% url 'myblogapp:list'%}">更多></a>
    </div>
    <ul class="index_article">
        {% for ac in page.object_list %}
        <li class="clearfix article_list">

            <a href="#" class="article_list_img">
                <img src="/media/{{ac.tags.img}}">
            </a>
            <a href="{% url 'myblogapp:detail' ac.id %}"><h3>{{ac.title }} </h3></a>
            <p class="clearfix entry-content">
                {{ ac.body|safe }}
            </p>
            <div class="article_list_link">
                <span class="article_list_count">
                    <i class="see_count"></i>
                    查看次数:{{ ac.views }}
                </span>
                <span class="article_list_like">
                   <i class="like_count"></i>
                    评论:{{ ac.comment_set.count }}
                </span>
                <a href="#">查看详细+</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block biji %}
<div class="article_box_two">
    <div class="index_article_title clearfix">
        <h3>学习笔记</h3>
        <a href="{% url 'myblogapp:note'%}">更多></a>
    </div>
    <div class="article_btn">
        <div class="article_btn_box">
            <div class="article_btn_box_item clearfix">
                <a href="#" class="article_btn_box_item_img">
                    <img src="/media/ads/fate系列_saber_亚瑟王4k动漫美女壁纸3840x2160_彼岸图网.jpg">
                </a>
                <ul>
                    {% for nt in note %}
                    <li>
                        <i></i><a href="/" >{{nt.title}}</a>
                        <p>{{nt.note_body|safe}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block tuijian %}
<div class="article_box_one">
    <div class="index_article_title clearfix">
        <h3>推荐博文</h3>
        <a href="/">更多></a>
    </div>
    <ul class="index_article">

        <li class="clearfix article_list">

            <a href="#" class="article_list_img">
                <img src="../static/img/article3.jpg">
            </a>

            <h3>在给自己一年时间</h3>
            <p>在给自己一年时间，如果一年后的还是无法通过自己的努力赚钱的话，那就自己去学个手艺做点小生意，赚钱养家了。</p>


            <div class="article_list_link">
                        <span class="article_list_count">
                            <i class="see_count"></i>
                            查看次数:500
                        </span>

                <span class="article_list_like">


                            <i class="like_count"></i>
                            喜欢次数:500


                        </span>
                <a href="#">查看详细+</a>
            </div>

        </li>
        <li class="clearfix article_list">

            <a href="#" class="article_list_img">
                <img src="../static/img/article4.jpg">
            </a>

            <h3>今天记录人生中的一件大事</h3>
            <p>
                今天记录人生中的一件大事，房子终于装修好了，盼来盼去，总算把房子盼好了。从一无所有到把房子装修好，这中间的路很难走，一直都是我和大青牛两个人在坚持，也少不了奶奶和姐姐的帮助，她们真的是我人生中最重要的3个人了</p>


            <div class="article_list_link">
                        <span class="article_list_count">
                            <i class="see_count"></i>
                            查看次数:500
                        </span>

                <span class="article_list_like">


                            <i class="like_count"></i>
                            喜欢次数:500


                        </span>
                <a href="#">查看详细+</a>
            </div>

        </li>
        <li class="clearfix article_list">

            <a href="#" class="article_list_img">
                <img src="../static/img/article5.jpg">
            </a>

            <h3>己所不欲勿施于人的后半句</h3>
            <p>己所不欲勿施于人的后半句</p>


            <div class="article_list_link">
                        <span class="article_list_count">
                            <i class="see_count"></i>
                            查看次数:500
                        </span>

                <span class="article_list_like">


                            <i class="like_count"></i>
                            喜欢次数:500


                        </span>
                <a href="#">查看详细+</a>
            </div>

        </li>
        <li class="clearfix article_list">

            <a href="#" class="article_list_img">
                <img src="../static/img/article6.jpg">
            </a>

            <h3>今天坐车回家看装修好的房子咯</h3>
            <p>今天坐车回家看新装修的房子咯，想想心里都觉得激动，因为这是人生中的第一套房子，很不容易和大青牛两个人走过来。</p>


            <div class="article_list_link">
                        <span class="article_list_count">
                            <i class="see_count"></i>
                            查看次数:500
                        </span>

                <span class="article_list_like">


                            <i class="like_count"></i>
                            喜欢次数:500


                        </span>
                <a href="#" target="_blank">查看详细+</a>
            </div>

        </li>


    </ul>
</div>

{% endblock %}
